services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      - TERM=linux
      - GF_PLUGINS_PREINSTALL=grafana-clock-panel,grafana-polystat-panel
    ports:
      - '3000:3000'
    volumes:
      - 'grafana_storage:/var/lib/grafana'
    # Keep port mapping and use extra_hosts for connectivity
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  grafana_storage:
  